.DS_Store
.bsp
.vscode
.metals
.idea
test_run_dir

constraint

target
project/target

verilog-output

build

*.conf
fusesoc_libraries

HLS_output
*.mem

# verilog-output/**.v
# verilog-output/**.json
# verilog-output/*.dblite
# verilog-output/*.f
# verilog-output/*.fir

