.DS_Store
.bsp
.vscode
.metals

constraint

target
project/target

verilog-output

# verilog-output/**.v
# verilog-output/**.json
# verilog-output/*.dblite
# verilog-output/*.f
# verilog-output/*.fir

